<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mango.autumnleaves">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <application
        android:name=".remote.Volley"
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@drawable/icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SaveUidActivity"></activity>
        <activity android:name=".Activity.PresensiDetailActivity" />
        <activity android:name=".Activity.RegisterActivity" /> <!-- History -->
        <activity
            android:name=".Activity.HistoryActivity"
            android:label="History">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mango.autumnleaves.Activity.DashboardActivity" />
        </activity> <!-- Profile -->
        <activity
            android:name=".Activity.ProfileActivity"
            android:label="Profile"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mango.autumnleaves.Activity.DashboardActivity" />
        </activity> <!-- Dashboard -->
        <activity
            android:name=".Activity.DashboardActivity"
            android:theme="@style/AppTheme2" /> <!-- Calendar -->
        <activity
            android:name=".Activity.CalendarActivity"
            android:theme="@style/AppTheme"
            android:label="Calendar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mango.autumnleaves.Activity.DashboardActivity" />
        </activity> <!-- Jadwal -->
        <activity
            android:name=".Activity.JadwalActivity"
            android:theme="@style/AppTheme"
            android:label="Jadwal">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mango.autumnleaves.Activity.DashboardActivity" />
        </activity> <!-- Login -->
        <activity
            android:name=".Activity.LoginActivity"
            android:theme="@style/AppTheme2">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- Main -->
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme3" />

        <service
            android:name=".util.MessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

    </application>

</manifest>