<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mango.autumnleaves">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.activity.dosen.kelas.LogMahasiswaActivity" android:label="Kehadiran">
        </activity>
        <activity
            android:name=".ui.activity.mahasiswa.DetailHistoryActivity"
            android:label="Data Presensi"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activity.mahasiswa.HistoryActivity" />
        </activity>
        <activity
            android:name=".ui.activity.dosen.kelas.KelasActivity"
            android:screenOrientation="portrait"
            android:theme="@style/KelasTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activity.dosen.MainDosenActivity" />
        </activity>
        <activity
            android:name=".ui.activity.dosen.DetailBapActivity"
            android:label="Data Bap"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activity.dosen.DetailBapActivity" />
        </activity>
        <activity
            android:name=".ui.activity.dosen.ProfileDosenActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme2" />
        <activity
            android:name=".ui.activity.AboutActivity"
            android:label="Tentang Mango"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activity.mahasiswa.AccountActivity" />
        </activity>
        <activity
            android:name=".ui.activity.dosen.MainDosenActivity"
            android:screenOrientation="portrait"
            android:theme="@style/InfoDosenTheme" />
        <activity
            android:name=".ui.activity.mahasiswa.PresensiDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.mahasiswa.RegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.mahasiswa.HistoryActivity"
            android:label="@string/history"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activity.mahasiswa.DashboardMahasiswaActivity" />
        </activity>
        <activity
            android:name=".ui.activity.mahasiswa.ProfileActivity"
            android:label="Profile"
            android:screenOrientation="portrait"
            android:theme="@style/ProfileTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activity.mahasiswa.DashboardMahasiswaActivity" />
        </activity>
        <activity
            android:name=".ui.activity.mahasiswa.DashboardMahasiswaActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme2" />
        <activity
            android:name=".ui.activity.mahasiswa.AccountActivity"
            android:label="Akun"
            android:screenOrientation="portrait"
            android:theme="@style/InfoTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activity.mahasiswa.DashboardMahasiswaActivity" />
        </activity>
        <activity
            android:name=".ui.activity.mahasiswa.JadwalActivity"
            android:label="Jadwal"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activity.mahasiswa.DashboardMahasiswaActivity" />
        </activity>
        <activity
            android:name=".ui.activity.SplashScreen"
            android:screenOrientation="portrait"
            android:theme="@style/LoginTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/LoginTheme" />

        <receiver android:name=".util.ReminderBroadcast" />
    </application>

</manifest>